<html>
<head>
    <title>Your order No: <%= @order.id %></title>
</head>
<body>
    <h1>Dear <%= @user.first_name %></h1>

    <%= @comment_text %>

    <footer class="footer">
    <div class="container">
      <p>Copyright 2013 <a href="http://plataformatec.com.br">breatheHR</a></p>

    </div>
  </footer>
</body>
</html>
