<html>
<head>
    <title>Your Order is Ready!</title>
</head>
<body>
<h1>Dear <%= @user.first_name %>,</h1>

<p>Your order is now <%= @order.status %>, come pick it up!</p>

<p> Sincerely,<br>Latte League</p>
</body>
</html>
